body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  padding: 30px;
  color: white;
  text-align: center;
}

.app-main {
  padding: 30px;
}

.nav-link {
  display: inline-block;
  color: #fff;
}

.nav-link:hover,
.nav-link.active {
  color: #61dafb;
}

.add-todo {
  margin-bottom: 20px;
}

.btn:hover {
  cursor: pointer;
}

.form-check-input {
  margin-right: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
